<footer>
  <div class="foot-container">
    <div class="menu-container">
      <h3>Menu</h3>
      <ul>
        <li>Home</li>
        <li>Favoritos</li>
        <li>Sobre</li>
      </ul>
    </div>

    <div class="contact-container">
      <h3>Contact</h3>
      <p>Email: juchoa65&#64;gmail.com</p>
      <div class="social-container">
        <h3>Social Medias</h3>
        <ul>
          <li><img src="assets/icons/linkedin.svg" alt="Icone do Linkedin" width="20px" height="20px"></li>
          <li><img src="assets/icons/github.svg" alt="Icone do Linkedin" width="20px" height="20px"></li>
          <li><img src="assets/icons/twitter.svg" alt="Icone do Linkedin" width="20px" height="20px"></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
