<footer>
  <div class="foot-container">
    <div class="menu-container">
      <h3>Menu</h3>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li>
          <a routerLink="/favorites" routerLinkActive="active">Favorites</a>
        </li>
        <li><a routerLink="/home" routerLinkActive="active">About</a></li>
      </ul>
    </div>

    <div class="contact-container">
      <h3>Contact</h3>
      <p>Email: juchoa65&#64;gmail.com</p>
      <div class="social-container">
        <h3>Social Medias</h3>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/pedrouchoa/" target="_blank">
              <img
                src="assets/icons/linkedin.svg"
                alt="Icone do Linkedin"
                width="20px"
                height="20px"
              />
            </a>
          </li>
          <li>
            <a href="https://github.com/PedroUchoa" target="_blank">
              <img
                src="assets/icons/github.svg"
                alt="Icone do Linkedin"
                width="20px"
                height="20px"
              />
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="assets/icons/twitter.svg"
                alt="Icone do Linkedin"
                width="20px"
                height="20px"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
