.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px 20px;
  border-radius: 20px;
  overflow: auto;
}

.card-container h1{
    color: #e9ecef;
    font-size: 20px;
    font-weight: bold;
}

.menu-container{
  width: max-content;
  display: flex;
  margin: 0 auto;
  gap: 8px;
  margin-bottom: 30px;
  margin-top: 5px;
  font-size: 19px;
  color: #e9ecef;
}

.menu-container button{
  background-color: transparent;
  cursor: pointer;
  color: #e9ecef;
}

.menu-container button:disabled{
  cursor: auto;
  color: #495057;
}

#overlay{
   width: 100%;
  height: 100%;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition-duration: 200ms;
}


#overlay.active {
  opacity: 1;
  visibility: visible;
}

#modal-principal{
  width: 80%;
  height: 600px;
  padding: 16px;
  border-radius: 10px;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition-duration: 200ms;
    background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 5)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#modal-principal.active{
  opacity: 2;
  visibility: visible;
}


#modal-principal button{
  float: right;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  transition: 300ms ease-in-out;
}

#modal-principal button:hover{
  color: #ff0f0f;
  border-color: #ff0f0f;
}

.modal-content{
  height: 90%;
  width: 100%;
display: flex;
align-items: flex-start;
justify-content: flex-start;
gap: 10px;
}

.image-container{
  height: 100%;
}

.image-container img{
  height: 100%;
  width: auto;
}

.content-container{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.content-container h1{
  font-size: 35px;
  color: black;
}

.content-container h2{
  margin-top: 5px;
  font-size: 20px;
}

.content-container p{
  margin-top: 20px;
  font-size: 18px;
  text-align: justify;
}

.categories-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.categories-container ul{
  width: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.categories-container ul li{
  text-align: center;
  width: 50%;
  font-size: 18px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

@media only screen and (max-device-width: 860px) {
  .card-container {
    width: 100vw;
    margin-top: 30px;
    gap: 10px;
    border: none;
  }
}
