<app-sign-layout>
  <app-header-sign type="Sign Up" />

  <form [formGroup]="signupForm" (ngSubmit)="doCreateUser()">
    <input
      id="login"
      placeholder="Login"
      type="text"
      class="input-form"
      formControlName="login"
      [ngClass]="{ 'invalid': signupForm.controls['login'].errors?.['required'] && signupForm.controls['login'].touched}"
    />

    <input
      id="password"
      placeholder="Password"
      type="password"
      class="input-form"
      formControlName="password"
      [ngClass]="{
        invalid:
          signupForm.controls['password'].invalid &&
          signupForm.controls['password'].touched
      }"
    />

    <input
      id="name"
      placeholder="Name"
      type="text"
      class="input-form"
      formControlName="name"
      [ngClass]="{
        invalid:
          signupForm.controls['name'].invalid &&
          signupForm.controls['name'].touched
      }"
    />

    <button>Sign Up</button>
  </form>

  <div class="sign-in">
    <p>Do You Have an Account?</p>
    <a routerLink="/login">Sign in</a>
  </div>
</app-sign-layout>
