<div class="card">
  <h2>Titulo</h2>
  <img src="https://m.media-amazon.com/images/I/8178P1hyCQL._SY385_.jpg" alt="Capa do Livro" height="200px"
    width="200px">
  <p>Milênios se passaram em Arrakis desde os eventos narrados em Duna, e o planeta, que antes era desértico, agora está
    verdejante e vigoroso. O Imperador Deus de Duna, que garantiu uma paz forçada em todos os planetas, consegue
    entender o
    futuro, e sabe, com uma terrível certeza, que sua raça será extinta a menos que ele crie novas qualidades para a
    espécie. As regras do Imperador não são benevolentes. Sua transformação não deixou apenas sua aparência desumana,
    mas
    também seu senso de moral.</p>
    <button >Favoritar</button>
</div>
